/*=============== BRANDS ===============*/
.brands {
    padding-block: 1rem;
    
    &__images {
        margin-top: 1.5rem;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        justify-items: center;

        @include for-tablet-landscape-up {
            grid-template-columns: repeat(8, 1fr);
            gap: 4rem;
        }

        @include for-small-desktop-up {
            margin-top: 3rem;
        }
    }

    &__img {
        width: 60px;
    }
}