/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        font: {
            size: var(--h2-font-size);
            weight: var(--font-medium);
        }

        & span {
            background-clip: text;
            -webkit-background-clip: text;
        }
    }

    &__toggle, 
    &__close {
        display: flex;
        cursor: pointer;
    }

    &__toggle {
        font-size: 1.25rem;
        color: var(--title-color);
    }

    &__buttons {
        display: flex;
    }

    @include for-small-desktop-up-alt {
        &__menu {
            position: fixed;
            left: 0;
            top: -100%;
            background-color: var(--white-color);
            width: 100%;
            padding-block: 4rem;
            box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
            transition: top .4s;
        }
    }

    &__search {
        display: flex;
        padding: .25rem .25rem;
        border-radius: .5rem;
        background-color: var(--container-color);
        border: 1px solid hsla(260, 15%, 92%, .3);

        i {
            font-size: 1.25rem;
            margin: 0 .5rem;
            cursor: pointer;
            color: var(--text-color-light);
        }

        @include for-phone-only {
            width: 50%;
        }

        @include for-small-desktop-up {
            width: 220px;
            padding: .5rem .75rem;
        }
    }

    &__input {
        width: 100%;
        border: none;
        outline: none;
        background-color: var(--first-color-light);
        border-radius: .25rem;

        &::placeholder {
            font: {
                weight: var(--font-regular);
                family: var(--body-font);
            }
            color: var(--text-color-light);
        }
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 1.5rem;
        color: var(--title-color);
    }
}

.show-menu {
    top: 0;
}