/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        font: {
            size: var(--h3-font-size);
            weight: var(--font-semi-bold);
        }

        & span {
            background-clip: text;
            -webkit-background-clip: text;
        }
        color: var(--title-color);
    }

    &__toggle, 
    &__close {
        display: flex;
    }

    &__toggle,
    &__shop,
    &__user {
        cursor: pointer;
        color: var(--title-color);
        font-size: 1.25rem;
    }

    &__toggle {
        font-size: 1.25rem;
        color: var(--title-color);
    }

    &__buttons {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }

    @include for-small-desktop-up-alt {
        &__menu {
            position: fixed;
            top: 0;
            right: -100%;
            background-color: var(--white-color);
            width: 60vw;
            height: 100vh;
            padding: 4.5rem 0 0 3rem;
            box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
            transition: right .4s;
        }
    }

    &__search {
        display: flex;
        padding: .25rem;
        margin-left: 1rem;
        border-radius: .5rem;
        background-color: var(--container-color);
        border: 1px solid hsla(260, 15%, 92%, .3);

        i {
            font-size: 1.25rem;
            margin: 0 .5rem;
            cursor: pointer;
            color: var(--text-color-light);
        }

        @include for-phone-only {
            width: 50%;
        }

        @include for-small-desktop-up {
            padding: .5rem .75rem;
        }
    }

    &__input {
        width: 100%;
        border: none;
        outline: none;
        background-color: var(--first-color-light);
        border-radius: .25rem;

        &::placeholder {
            font: {
                weight: var(--font-regular);
                family: var(--body-font);
            }
            color: var(--text-color-light);
        }
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 1.5rem;
        color: var(--title-color);
        cursor: pointer;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;
    }

    &__link {
        color: var(--title-color);
        font-weight: var(--font-medium);
        transition: color .3s;

        &:hover {
            color: var(--first-color);
        }
    }

    @include for-tablet-portrait-up {
        &__menu {
            width: 40vw;
        }
    }

    @include for-small-desktop-up {
        height: calc(var(--header-height) + 1.5rem);

        &__close,
        &__toggle {
            display: none;
        }

        &__list {
            flex-direction: row;
            column-gap: 3rem;
        }

        &__menu {
            width: initial;
        }
    }
}

.show-menu {
    right: 0;
}

.bg-header {
    background-color: var(--white-color);
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
}