/*=============== HOME ===============*/
.home {
    &__swiper {
        position: relative;
        border-radius: .5rem;
    }

    &__data {
        position: absolute;
    }

    &__title {
        margin: 0 .25rem;
        font-size: var(--h1-font-size);
        color: var(--white-color);
    }

    &__slide {
        text-align: center;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slide-img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }

    &__button {
        margin-top: 1rem;
    }
}

/*=============== SWIPER ===============*/
.swiper {
    &-navigation {
        position: absolute;
        top: 2rem;
        right: 0;
    }

    &-button-next::after,
    &-button-prev::after {
        content: '';
    }

    &-button-next,
    &-button-prev {
        width: 2.25rem;
        height: 2rem;
        font-size: 1.5rem;
        color: var(--text-color);
        background-color: var(--white-color);
    }

    &-button-prev {
        border-radius: .5rem 0 0 .5rem;
        left: calc(50% - 5.1rem);
    }

    &-button-next {
        border-radius: 0 .5rem .5rem 0;
    }

    &-pagination {
        position: absolute;
        bottom: 1rem !important;
        z-index: 10;
    }
}